.error {
  padding: 10px;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

aside {
  width: 200px;
  float: left;
}

body {
  background-color: #555555;
  background-attachment: fixed;
/*   background-image: url("/meehome-java-mail-webapp/resources/img/background-body.png"); */
  background-repeat: no-repeat;
  color: #555555;
}

header {
	margin-top : 20px;
}

hr {
  margin: 10px 0;
}

form {
  margin: 0;
}

.loading {
	position 		: relative;
	top				: 15px;
	width			: 300px;
	margin			: auto;
}

.progress{
	margin-bottom 	: 0;
}