.error {
  padding: 10px;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

.wrapper {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  overflow: auto;
}

section {
  opacity: 1;
}

aside {
  width: 200px;
  float: left;
}

body {
  background-color: #555555;
  background-attachment: fixed;
  background-image: url("/meehome-java-mail-webapp/resources/img/background-body.png");
  background-repeat: no-repeat;
  color: #555555;
}

hr {
  margin: 10px 0;
}

form {
  margin: 0;
}
