<!DOCTYPE HTML>
<html>
    <head>
    	
		<title>Webapp - Gestion mail</title>
		
		<meta charset="utf-8" />
		
		<!-- CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/meehome-java-mail-webapp/resources/css/meehome-java-mail.css" />
        <style>
        	.mce-tinymce {border-radius	: 4px;}
			.mce-panel {border-color : #CCCCCC;}
        </style>
    </head>
    <body>
    	
		<div class="container">
		
			<header id="header"></header>
		
		   	<div class="panel panel-default">
				<div class="panel-body">
					
					<section id="content">
					
						<ol class="breadcrumb">
							<li><a href="/meehome-java-mail-webapp/">Accueil</a></li>
							<li class="active">Gestion de la mailing liste</a></li>
						</ol>
						
						<!-- EMAIL D'ENVOI -->
						<div style="width:30%;float:left;">
							<div class="form-group">
								<label for="email">Votre mail sera envoyé depuis l'adresse mail</label>
								<input class="form-control" id="disabledInput" type="text" placeholder="raballand.romain@gmail.com" disabled />
								<p class="help-block"><a href="/meehome-java-mail-webapp/pages/template/parametrage.html">Configurer ma boite mail</a></p>
							</div>
						</div>
						<div style="width:30%;float:left;padding-left:20px;">
							<!-- DESTINATAIRES -->
							<div class="form-group">
								<label for="detinataires">Destinataires</label>
								<p class="help-block"><a href="/meehome-java-mail-webapp/pages/template/mailing/liste.html">Modifier / importer des destinataires</a></p>
								<a href="#" data-toggle="modal" data-target="#myModal">Voir la liste des destinataires</a>
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">Liste des destinataires</h4>
											</div>
											<div class="modal-body">
												<table class="table table-hover">
													<thead>
														<tr>
															<th>#</th>
															<th>Prénom</th>
															<th>Nom</th>
															<th>Email</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>Romain</td>
															<td>RABALLAND</td>
													        <td>raballand.romain@gmail.com</td>
														</tr>
														<tr>
															<td>2</td>
															<td>Romain</td>
															<td>RABALLAND</td>
													        <td>raballand.romain@gmail.com</td>
														</tr>
														<tr>
															<td>3</td>
															<td>Romain</td>
															<td>RABALLAND</td>
													        <td>raballand.romain@gmail.com</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						
						<div style="clear:both;" />
						
						<form method="POST" role="form">
							
							<!-- OBJET MAIL -->
							<div class="form-group">
								<input id="objet" type="text" placeholder="objet du mail" class="form-control" />
							</div>
							
							<!-- CONTENU MAIL -->
							<div class="form-group">
								<textarea id="contenuMail" name="content"></textarea>
							</div>
							
							<!-- PIECE JOINTE MAIL -->
							<div class="form-group">
								<label for="file"><span class="glyphicon glyphicon-paperclip"></span> </label>
								<input id="file" type="file" style="display:inline"></input>
							</div>
							
							<button type="submit" class="btn btn-default">Envoyer le mail</button>
						</form>
					
					</section>
					<footer id="footer"></footer>
					
				</div>
			</div>
		</div>
    	
        <!-- JAVASCRIPT -->
        <script src="/meehome-java-mail-webapp/resources/js/jquery-1.11.0.min.js"></script>
        <script src="/meehome-java-mail-webapp/resources/js/angular.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
		<script src="/meehome-java-mail-webapp/resources/js/meehome-java-mail.js"></script>
        <script>
	        tinymce.init({
	            selector: "textarea",
	            height : 300,
	            plugins: [
	                "advlist autolink lists link image charmap print preview anchor",
	                "searchreplace visualblocks code fullscreen",
	                "insertdatetime media table contextmenu paste"
	            ],
	            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
	        });
        </script>
    </body>
</html>