<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>meehome-java-mail-webapp</display-name>
	
	<welcome-file-list>
		<welcome-file>/accueil.tiles</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/pages/template/404.html</location>
	</error-page>
	
	<!-- Configuration Spring -->
	<listener>
	   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/fr/meehome/mail/front/applicationContext.xml
		</param-value>
	</context-param>
	
	<!-- GESTION DES TEMPLATES AVEC APACHE - TILES -->
	<listener>
	   <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
	</listener>
	<servlet>
	    <servlet-name>Tiles Dispatch Servlet</servlet-name>
	    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Tiles Dispatch Servlet</servlet-name>
	    <url-pattern>*.tiles</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>jersey-serlvet</servlet-name>
	    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	    <init-param>
	        <param-name>com.sun.jersey.config.property.packages</param-name>
	        <param-value>fr.meehome.mail.front.rest</param-value>
	    </init-param>
	    <init-param>
	        <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	        <param-value>true</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>jersey-serlvet</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

</web-app>