<!DOCTYPE HTML>
<html>
    <head>
    	
		<title>Webapp - Gestion mail</title>
		<meta charset="ISO-8859-15" />
		
		<!-- CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/meehome-java-mail-webapp/resources/css/meehome-java-mail.css" />
        
    </head>
    <body>
    	
    	<div id="loading">
	    	<div class="panel panel-default">
				<div class="panel-body">
				    <div class="progress progress-striped active">
						<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					</div>
				</div>
			</div>
    	</div>
    	<div id="container" style="display:none;"></div>
        
        <!-- JAVASCRIPT -->
        <script src="/meehome-java-mail-webapp/resources/js/jquery-1.11.0.min.js"></script>
        <script src="/meehome-java-mail-webapp/resources/js/angular.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/meehome-java-mail-webapp/resources/js/meehome-java-mail.js"></script>
       

		<script src="/meehome-java-mail-webapp/resources/js/tinymce/tinymce.min.js"></script>
        <script>
	        $(document).ready(function(){
	        	
	        	content("mail/mail");
	        	
	        	tinymce.init({
	        	    selector: "textarea#elm1",
	        	    theme: "modern",
	        	    height: 300,
	        	    plugins: [
	        	         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
	        	         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
	        	         "save table contextmenu directionality emoticons template paste textcolor"
	        	   ],
	        	   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
	        	   style_formats: [
	        	        {title: 'Bold text', inline: 'b'},
	        	        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
	        	        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
	        	        {title: 'Example 1', inline: 'span', classes: 'example1'},
	        	        {title: 'Example 2', inline: 'span', classes: 'example2'},
	        	        {title: 'Table styles'},
	        	        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
	        	    ]
	        	 }); 
	        });
        </script>
    </body>
</html>