<!DOCTYPE HTML>
<html>
    <head>
    	
		<title>Webapp - Gestion mail</title>
		
		<meta charset="utf-8" />
		
		<!-- CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/meehome-java-mail-webapp/resources/css/meehome-java-mail.css" />
        
    </head>
    <body>
    	
		<div class="container">
		
			<header id="header"></header>
		
		   	<div class="panel panel-default">
				<div class="panel-body">
					
					<section id="content"></section>
					<footer id="footer"></footer>
					
				</div>
			</div>
		</div>
    	
        <!-- JAVASCRIPT -->
        <script src="/meehome-java-mail-webapp/resources/js/jquery-1.11.0.min.js"></script>
        <script src="/meehome-java-mail-webapp/resources/js/angular.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/meehome-java-mail-webapp/resources/js/meehome-java-mail.js"></script>
        <script>$(document).ready(function(){content('diffusion/liste');});</script>
        
    </body>
</html>