.pointer {cursor: pointer;}

input.form-control {
	padding : 4px 12px;
	height: auto;
}
.btn {
	padding : 4px 12px;
}

.error {
  padding: 10px;
  margin-bottom: 10px;
}

.clear {
  clear: both;
}

a {
	color : #55555A;
}

aside {
  width: 200px;
  float: left;
}

body {
  background-attachment: fixed;
/*   background-image: url("/meehome-java-mail-webapp/resources/img/background-body-1.png"); */
/*   background-image: url("/meehome-java-mail-webapp/resources/img/background-body-2.jpg"); */
	background-image : url('/meehome-java-mail-webapp/resources/img/noise.png');
/*   background-repeat: no-repeat; */
  color: #555555;
}

hr {
  margin: 10px 0;
}

form {
  margin: 0;
}

.loading {
	position 		: relative;
	top				: 15px;
	width			: 300px;
	margin			: auto;
}

.progress{
	margin-bottom 	: 0;
}

/*
--
*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.page {
	min-height: 100%;
	position: relative;
	margin-bottom: -200px; 
	    	
}

footer {
 	height: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 30px;
	background: #121212 url('/meehome-java-mail-webapp/resources/img/header-background-home.jpg') no-repeat center top;
}

a.navbar-brand, .nav > li > a {
	text-shadow:none;
	color: white;
}

section {
/* 	background: #121212 url('/meehome-java-mail-webapp/resources/img/section-background.jpg') repeat; */
/* 	background: #FFFFFF url('/meehome-java-mail-webapp/resources/img/noise.png') repeat; */
	background-color: #D6D6D6;
}

.carousel {
	height: 130px;
}

footer a {
/* 	text-shadow:none; */
/* 	color: white; */
}
footer a:hover {
	color: white;
	text-decoration: underline;
}

.nav > li > a:hover, a.navbar-brand:focus, .nav > li > a:focus, .nav .open > a:focus {
	color: white;
	background-color: transparent;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 4px;
    list-style: none outside none;
    margin : 20px 0;
}
.breadcrumb > .active {
/* 	color : white; */
}

article {
	background-color: white;
	border : 1px solid #DEDEDE;
	border-radius : 4px;
	padding : 10px;
	margin : 0 0 10px 0;
}

.panel-default > .panel-heading {
	background-image : none;
	background-color : #f8f8f8; /* url('/meehome-java-mail-webapp/resources/img/noise.png') top left;*/
}

.panel-body {
	background: url('/meehome-java-mail-webapp/resources/img/shadow-panel.png') no-repeat center bottom;
	margin-bottom : -10px;
}

header {
height: 230px;
padding-top: 10px;
background: #121212 url('/meehome-java-mail-webapp/resources/img/header-background-home.jpg') no-repeat center top;
}