<!DOCTYPE HTML>
<html>
    <head>
    
        <title>Page non trouvée</title>
        <meta charset="ISO-8859-15" />
    	
        <!-- CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/meehome-java-mail-webapp/resources/css/meehome-java-mail.css" />
        
    </head>
    <body>
    
    	<div class="container">
		
		   	<div class="panel panel-default">
				<div class="panel-body">
						
					<p>Votre page n'existe pas</p>
					<a href="/meehome-java-mail-webapp/">Retour à la page d'accueil</a>
					
				</div>
			</div>
		</div>
		
		<!-- JAVASCRIPT -->
        <script src="/meehome-java-mail-webapp/resources/js/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		
    </body>
</html>